#navbar {
    list-style-type: none;
    margin: 0;
    padding: 0px;
    overflow: hidden;
    background-color: rgb(167, 167, 167);
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}

.intro {
    text-align: center;
    background-color: beige;
    padding:0px;
    margin:0px;
    padding-top: 150px;
    padding-bottom: 150px;
}

.navbarOption {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbarOption:hover {
    background-color: #111;

}

#intro {
    text-align: center;
}

.listHeader {
    color: red;
}

.infoItems {
    display: flex;
    justify-content: space-between;
    /* flex-direction: row; */
}

.infoContainer {
    display: flex;
    justify-content: space-between;
  }
  
.item {
    border: 1px solid #fff;
    background-color: #D6E9FE;
    height: 300px;
    flex: 1;
  }

.item,
.projects {
    display: flex;
    justify-content: center;
}

.footer-container {
    color: #fff;
    background-color: #5995DA;  /* Blue */
    padding: 20px 0;
    display: flex;
    justify-content: center;
  }
  
  .footer {
    border: 1px solid #fff;  /* For debugging */
    width: 900px;
  }
